body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 150%;
  padding: 50px;
  background: #F6F6F6;
}

.commonstyles a {
  color: #05080C;
}

.commonstyles small {
}

.commonstyles strong {

}

.commonstyles h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #05080C;
}

.commonstyles h2 {
  font-weight: bold;
  color: #05080C;
}

.commonstyles h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #05080C;
  margin-top: 42px;
}

.commonstyles h4 {
  font-weight: bold;
  color: #05080C;
  margin-bottom: 0;
}

.commonstyles p {
  font-family: Georgia, serif;
  color: #05080C;
  margin-top: 0;
  margin-bottom: 27px;
}

.commonstyles ul {
  list-style: square;
}

.commonstyles ul p {

}

.commonstyles li {

}

.commonstyles hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

.commonstyles img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #222222;
  padding: 5px;
  text-align: center
}

.commonstyles img[alt] {
  float: right;
}

.toc {
  color: #222222;
  text-align: left;
  max-width: 300px;
  float:right;
  margin: 0 0 20px 20px;
}

.toc .toclevel-1 {
  font-size: 14px;
}

.toc .toclevel-1 > a {

}

.toc .toclevel-2 {
  font-size: 13px;
  color: #3344aa;
}

.toc .toclevel-2 > a {

}

.datatable td {
  padding: 8px 14px;
}

.datatable td:first-child{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}